version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: analytics_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Teddy
      POSTGRES_DB: analytics_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
